

/* choice creates styling for choice buttons and hover effects */
.choice{
    display: flex;
    width: 100%;
    font-size: 18px;
    border: 0.1rem solid rgb(86, 135, 235, 0.25);
    background-color: white;
}

.choice:hover{
    cursor: pointer;
    opacity: .5;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* centers choice option A,B,C,E */
.choice-letter{
    background-color: #4bbe68;
    color: white;
    height: 100%;
    padding: 1%;
}

/* adds padding to choice answers */
.choice-text{
    width: 100%;
}

#timer{
    display: flex;
    width: 100%;
    background-color: orange;
    justify-content: flex-end;
}
