html {
    background-color: antiquewhite;
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-bottom: auto;
    width: 100vw;
    /* background-color:purple */
}

.btn {
    border: 1px;
    /* background-color: red; */
    font-size: 150%;
    border-style: groove;
    justify-content: space-between;
    margin: 0 10px;
}

.btn:hover {
    opacity: .5;
}


#home{
   /* background-color: blue; */
   width: 75%;
   text-align: center;
   justify-content: space-between;
}